<div class="signup-container">
    <p-card>
        <ng-template pTemplate="header">
            <h2>Sign Up</h2>
        </ng-template>

        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
            <div class="form-group">
                <label for="username">Username</label>
                <input
                    id="username"
                    type="text"
                    pInputText
                    formControlName="username"
                    placeholder="Enter username"
                />
                <p-messages
                    *ngIf="signupForm.controls['username'].invalid && signupForm.controls['username'].touched"
                    severity="error"
                    text="Username is required."
                ></p-messages>
            </div>


            <div class="form-group">
                <label for="password">Password</label>
                <input
                    id="password"
                    type="password"
                    pInputText
                    formControlName="password"
                    placeholder="Enter password"
                />
                <p-messages
                    *ngIf="signupForm.controls['password'].invalid && signupForm.controls['password'].touched"
                    severity="error"
                    text="Password must be at least 6 characters."
                ></p-messages>
            </div>

            <div class="form-group">
                <label for="confirmPassword">Confirm Password</label>
                <input
                    id="confirmPassword"
                    type="password"
                    pInputText
                    formControlName="confirmPassword"
                    placeholder="Confirm password"
                />
                <p-messages
                    *ngIf="signupForm.errors?.['mismatch'] && signupForm.controls['confirmPassword'].touched"
                    severity="error"
                    text="Passwords do not match."
                ></p-messages>
            </div>


            <div *ngIf="errorMessage" class="error-message">
                {{ errorMessage }}
            </div>

            <button pButton type="submit" label="Sign Up" class="submit-button"></button>
        </form>
    </p-card>
</div>
