<div class="project-detail">
    <p-toolbar class="top-bar">
        <div class="p-toolbar-group-left">
            <p-button icon="pi pi-angle-left" class="back-button" (click)="goBack()" label="Back"></p-button>
        </div>
        <div class="p-toolbar-group-center">
            <p-button icon="pi pi-plus" class="add-button" (click)="openAddTaskDialog()" label="Add Task"></p-button>
            <p-button icon="pi pi-file-export" class="export-button" (click)="openExportDialog()"
                label="Export as Gist"></p-button>
        </div>
    </p-toolbar>
    <p-card>
        <ng-template pTemplate="header">
            <div class="project-header">
                <h2 *ngIf="!isEditingTitle">{{ project?.title }}</h2>
                <input *ngIf="isEditingTitle" type="text" [(ngModel)]="editedTitle" class="edit-title-input" />
                <button pButton *ngIf="!isEditingTitle" icon="pi pi-pencil" class="edit-button"
                    (click)="startEditingTitle()"></button>
                <p-button *ngIf="isEditingTitle" icon="pi pi-check" class="save-button"
                    (click)="saveTitle()"></p-button>
                <p-button *ngIf="isEditingTitle" icon="pi pi-times" class="cancel-button"
                    (click)="cancelEditingTitle()"></p-button>
            </div>
        </ng-template>

        <div *ngIf="project; else loading">
            <p><strong>Created Date:</strong> {{ project.createdDate | date: 'dd/MM/yyyy' }}</p>
            <p>
                <strong>Summary:</strong>
                {{ completedTasks.length }}/{{ completedTasks.length + pendingTasks.length }}
                tasks completed
            </p>

            <h3>Pending Tasks</h3>
            <ul *ngIf="pendingTasks.length > 0; else noPendingTasks">
                <li *ngFor="let task of pendingTasks">
                    <input type="checkbox" [checked]="task.isCompleted" (change)="toggleTaskStatus(task)" />
                    <ng-container *ngIf="!task.isEditing">
                        {{ task.description }}
                        <button pButton icon="pi pi-pencil" class="p-button-text" (click)="editTask(task)"></button>
                        <button pButton icon="pi pi-trash" class="p-button-text" (click)="deleteTask(task)"></button>
                    </ng-container>
                    <ng-container *ngIf="task.isEditing">
                        <input [(ngModel)]="task.description" />
                        <button pButton icon="pi pi-check" class="p-button-text" (click)="saveTask(task)"></button>
                        <button pButton icon="pi pi-times" class="p-button-text" (click)="cancelEdit(task)"></button>
                    </ng-container>
                </li>
            </ul>
            <ng-template #noPendingTasks>
                <p>No pending tasks!</p>
            </ng-template>

            <h3>Completed Tasks</h3>
            <ul *ngIf="completedTasks.length > 0; else noCompletedTasks">
                <li *ngFor="let task of completedTasks">
                    <input type="checkbox" [checked]="task.isCompleted" (change)="toggleTaskStatus(task)" />
                    <ng-container *ngIf="!task.isEditing">
                        {{ task.description }}
                        <button pButton icon="pi pi-pencil" class="p-button-text" (click)="editTask(task)"></button>
                        <button pButton icon="pi pi-trash" class="p-button-text" (click)="deleteTask(task)"></button>
                    </ng-container>
                    <ng-container *ngIf="task.isEditing">
                        <input [(ngModel)]="task.description" />
                        <button pButton icon="pi pi-check" class="p-button-text" (click)="saveTask(task)"></button>
                        <button pButton icon="pi pi-times" class="p-button-text" (click)="cancelEdit(task)"></button>
                    </ng-container>
                </li>
            </ul>
            <ng-template #noCompletedTasks>
                <p>No completed tasks yet!</p>
            </ng-template>
        </div>

        <ng-template #loading>
            <p-messages severity="info" text="Loading project details..."></p-messages>
        </ng-template>
    </p-card>
    <p-dialog header="Export Options" [(visible)]="exportDialogVisible" [modal]="true" [closable]="false"
        [responsive]="true">
        <div>
            <p>How would you like to save the project summary?</p>
            <div class="export-options">
                <button pButton label="Save Locally" class="gist-save-button" icon="pi pi-file" (click)="exportAsMarkdown()"></button>
                <button pButton label="Export as GitHub Gist" class="gist-export-button" icon="pi pi-github" (click)="showGithubTokenField()"></button>
                <button pButton label="Cancel" class="gist-cancel-button" icon="pi pi-cancel" (click)="closeExportDialog()"></button>
            </div>

            <!-- Input for GitHub Token -->
            <div *ngIf="showTokenInput" class="token-form">
                <!-- <p-inputText ngDefaultControl [(ngModel)]="githubToken" placeholder="Enter Personal Access Token"></p-inputText> -->
                <input placeholder="Enter Personal Access Token " [(ngModel)]="githubToken" />
                <p-button label="Submit" (click)="exportToGist()"></p-button>
            </div>
        </div>
    </p-dialog>
    <p-dialog [(visible)]="displayClipboardDialog" [modal]="true" [responsive]="true" [closable]="false">
        <ng-template pTemplate="header">
            <h3>Gist URL</h3>
        </ng-template>
        <ng-template pTemplate="content">
            <p>{{ gistUrl }}</p>
            <p-button label="Copy to Clipboard" icon="pi pi-copy" (click)="copyToClipboard()"></p-button>
            <p-button label="Cancel" icon="pi pi-cancel" (click)="closeClipBoardDialog()"></p-button>
        </ng-template>
    </p-dialog>
</div>