<div class="project-detail">
    <p-toolbar class="top-bar">
        <div class="p-toolbar-group-left">
            <p-button icon="pi pi-angle-left" class="back-button" (click)="goBack()" label="Back"></p-button>
        </div>
        <div class="p-toolbar-group-center">
            <p-button icon="pi pi-plus" class="add-button" (click)="openAddTaskDialog()" label="Add Task"></p-button>
        </div>
    </p-toolbar>
    <p-card>
        <ng-template pTemplate="header">
            <div class="project-header">
            <h2 *ngIf="!isEditingTitle">{{ project?.title }}</h2>
                <input
                    *ngIf="isEditingTitle"
                    type="text"
                    [(ngModel)]="editedTitle"
                    class="edit-title-input"
                />
                <button pButton
                    *ngIf="!isEditingTitle"
                    icon="pi pi-pencil"
                    class="edit-button"
                    (click)="startEditingTitle()"
                ></button>
                <p-button
                    *ngIf="isEditingTitle"
                    icon="pi pi-check"
                    class="save-button"
                    (click)="saveTitle()"
                ></p-button>
                <p-button
                    *ngIf="isEditingTitle"
                    icon="pi pi-times"
                    class="cancel-button"
                    (click)="cancelEditingTitle()"
                ></p-button>
            </div>
        </ng-template>

        <div *ngIf="project; else loading">
            <p><strong>Created Date:</strong> {{ project.createdDate | date: 'dd/MM/yyyy' }}</p>
            <p>
                <strong>Summary:</strong>
                {{ completedTasks.length }}/{{ completedTasks.length + pendingTasks.length }}
                tasks completed
            </p>

            <h3>Pending Tasks</h3>
            <ul *ngIf="pendingTasks.length > 0; else noPendingTasks">
                <li *ngFor="let task of pendingTasks">
                    <input type="checkbox" [checked]="task.isCompleted" (change)="toggleTaskStatus(task)" />
                    {{ task.description }}
                </li>
            </ul>
            <ng-template #noPendingTasks>
                <p>No pending tasks!</p>
            </ng-template>

            <h3>Completed Tasks</h3>
            <ul *ngIf="completedTasks.length > 0; else noCompletedTasks">
                <li *ngFor="let task of completedTasks">
                    <input type="checkbox" [checked]="task.isCompleted" (change)="toggleTaskStatus(task)" />
                    {{ task.description }}
                </li>
            </ul>
            <ng-template #noCompletedTasks>
                <p>No completed tasks yet!</p>
            </ng-template>
        </div>

        <ng-template #loading>
            <p-messages severity="info" text="Loading project details..."></p-messages>
        </ng-template>
    </p-card>
</div>