.full-width {
  width: 100%;
}

mat-dialog-content {
  min-width: 300px;
}

:host ::ng-deep .p-dialog-content {
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  white-space: nowrap;
  display: inline-flex;
  align-items: center;
}

.p-field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.p-dialog-footer {
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
  margin-top: 15px;
}

:host ::ng-deep .p-inputtext {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #ccc;
}

:host ::ng-deep .p-button {
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  border-radius: 0.5rem;
}